
<div class="wrapper" [style]="wrapperColor()" >
    <div>
        <p class="place_name">{{weatherData.name}}</p>
        <div class="temp_wrapper">
            <img [src]="sunny()" class="weather_icon" alt="weather image">    
            <h1 class="temperature">{{weatherData.main.temp - 273.15 | number:'2.0-0' }}°</h1>
        </div>
        <h3 class="weather">{{weatherData.weather[0].main}}</h3>
    </div>
    <div class="bottom_detail">
        <div class="bottom_section">
        <p class="detail">Humidity: {{weatherData.main.humidity}}%</p>
        <p class="detail">Max Temp: {{weatherData.main.temp_max- 273.15 | number:'2.0-0'}}°</p>    
        </div>
        <div class="bottom_section">
            <p class="detail">Feels Like: {{weatherData.main.feels_like - 273.15 | number:'2.0-0'}}°</p>
            <p class="detail">Min Temp: {{weatherData.main.temp_min- 273.15 | number:'2.0-0'}}°</p>    
        </div>
        <div class="bottom_section">
            <p class="detail">Pressure: {{weatherData.main.pressure}} bar</p>
            <p class="detail">Wind Speed: {{weatherData.wind.speed}}</p>    
        </div>
    </div>
</div>